<style>
  .portfolio-direct-link {
      /* Reset everything */
      position: relative !important;
      z-index: 10 !important;
      display: inline-block !important;
      
      /* Colors */
      background-color: #1d1d1f !important;
      color: #ffffff !important;
      
      /* Reset Bootstrap artifacts */
      border: none !important;
      box-shadow: none !important;
      background-image: none !important;
      outline: none !important;
      
      /* Padding/Sizing */
      border-radius: 30px !important;
      padding: 12px 26px !important;
      font-weight: 500 !important;
      text-decoration: none !important;
  }

  .portfolio-direct-link:hover {
      /* Force the color */
      background-color: #333336 !important;
      background-image: none !important;
      color: #ffffff !important;
      
      /* Kill overlays */
      box-shadow: none !important;
      opacity: 1 !important;
  }
</style>

{% for post in site.posts %}
<div class="portfolio-modal modal" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="portfolio-image" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            
            {% if post.project-url != null %}
              <a href="{{ post.project-url }}" 
                 target="_blank" 
                 class="portfolio-direct-link" 
                 style="opacity: 1 !important;">
                 View Project
              </a>
            {% endif %}

            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
