{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="portfolio-image" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            
            {% if post.project-url != null %}
              <a href="{{ post.project-url }}" 
                 target="_blank" 
                 class="btn btn-lg btn-default modal-view-button"
                 style="background-color: #1d1d1f !important; color: #ffffff !important; border: none !important; border-radius: 30px !important; padding: 10px 24px !important; font-weight: 500 !important; font-size: 14px !important; letter-spacing: -0.01em !important; text-decoration: none !important; box-shadow: none !important; display: inline-block;"
                 onmouseover="this.style.setProperty('background-color', '#333336', 'important');"
                 onmouseout="this.style.setProperty('background-color', '#1d1d1f', 'important');"
                 onfocus="this.style.setProperty('background-color', '#333336', 'important');"
                 onblur="this.style.setProperty('background-color', '#1d1d1f', 'important');">
                View Project
              </a>
            {% endif %}

            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
